.vscode/
.idea/
node_modules/
dist/**/*
lib/**/*
dist/
*.map
src/**/*.js
src/**/*.d.ts
!src/Types/**/*
test/**/*.js
test/**/*.d.ts
test.old/**/*.js
test.old/**/*.map
test.old/**/*.d.ts
.build/
test/certs
tryouts/
.DS_Store
.tscache
.settings
npm-debug.log
package-lock.json